#DIV_1 {
    block-size: 357.656px;
    border-block-end-color: rgb(102, 102, 102);
    border-block-start-color: rgb(102, 102, 102);
    border-inline-end-color: rgb(102, 102, 102);
    border-inline-start-color: rgb(102, 102, 102);
    caret-color: rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    column-rule-color: rgb(102, 102, 102);
    display: flow-root;
    height: 357.656px;
    inline-size: 1113px;
    margin-block-end: 40px;
    margin-block-start: 40px;
    max-inline-size: 1200px;
    max-width: 1200px;
    padding-inline-end: 40px;
    padding-inline-start: 40px;
    perspective-origin: 596.5px 178.828px;
    text-decoration: none solid rgb(102, 102, 102);
    text-size-adjust: 100%;
    transform-origin: 596.5px 178.828px;
    width: 1113px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(102, 102, 102);
    font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin: 40px 0px;
    outline: rgb(102, 102, 102) none 0px;
    padding: 0px 40px;
}


/*#DIV_1*/

#DIV_1:after {
    border-block-end-color: rgb(102, 102, 102);
    border-block-start-color: rgb(102, 102, 102);
    border-inline-end-color: rgb(102, 102, 102);
    border-inline-start-color: rgb(102, 102, 102);
    caret-color: rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    column-rule-color: rgb(102, 102, 102);
    text-decoration: none solid rgb(102, 102, 102);
    text-size-adjust: 100%;
    border: 0px none rgb(102, 102, 102);
    font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    outline: rgb(102, 102, 102) none 0px;
}


/*#DIV_1:after*/

#DIV_1:before {
    border-block-end-color: rgb(102, 102, 102);
    border-block-start-color: rgb(102, 102, 102);
    border-inline-end-color: rgb(102, 102, 102);
    border-inline-start-color: rgb(102, 102, 102);
    caret-color: rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    column-rule-color: rgb(102, 102, 102);
    text-decoration: none solid rgb(102, 102, 102);
    text-size-adjust: 100%;
    border: 0px none rgb(102, 102, 102);
    font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    outline: rgb(102, 102, 102) none 0px;
}


/*#DIV_1:before*/

#DIV_2 {
    block-size: 357.656px;
    border-block-end-color: rgb(102, 102, 102);
    border-block-start-color: rgb(102, 102, 102);
    border-inline-end-color: rgb(102, 102, 102);
    border-inline-start-color: rgb(102, 102, 102);
    caret-color: rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    column-rule-color: rgb(102, 102, 102);
    display: flex;
    height: 357.656px;
    inline-size: 1153px;
    margin-inline-start: -40px;
    perspective-origin: 576.5px 178.828px;
    text-decoration: none solid rgb(102, 102, 102);
    text-size-adjust: 100%;
    transform-origin: 576.5px 178.828px;
    width: 1153px;
    border: 0px none rgb(102, 102, 102);
    flex-flow: row wrap;
    font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    list-style: outside none none;
    margin: 0px 0px 0px -40px;
    outline: rgb(102, 102, 102) none 0px;
}


/*#DIV_2*/

#DIV_2:after {
    border-block-end-color: rgb(102, 102, 102);
    border-block-start-color: rgb(102, 102, 102);
    border-inline-end-color: rgb(102, 102, 102);
    border-inline-start-color: rgb(102, 102, 102);
    caret-color: rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    column-rule-color: rgb(102, 102, 102);
    display: block;
    text-decoration: none solid rgb(102, 102, 102);
    text-size-adjust: 100%;
    border: 0px none rgb(102, 102, 102);
    font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    list-style: outside none none;
    outline: rgb(102, 102, 102) none 0px;
}


/*#DIV_2:after*/

#DIV_2:before {
    border-block-end-color: rgb(102, 102, 102);
    border-block-start-color: rgb(102, 102, 102);
    border-inline-end-color: rgb(102, 102, 102);
    border-inline-start-color: rgb(102, 102, 102);
    caret-color: rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    column-rule-color: rgb(102, 102, 102);
    display: block;
    text-decoration: none solid rgb(102, 102, 102);
    text-size-adjust: 100%;
    border: 0px none rgb(102, 102, 102);
    font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    list-style: outside none none;
    outline: rgb(102, 102, 102) none 0px;
}


/*#DIV_2:before*/

#DIV_3 {
    align-items: flex-start;
    block-size: 357.656px;
    border-block-end-color: rgb(102, 102, 102);
    border-block-start-color: rgb(102, 102, 102);
    border-inline-end-color: rgb(102, 102, 102);
    border-inline-start-color: rgb(102, 102, 102);
    box-sizing: border-box;
    caret-color: rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    column-rule-color: rgb(102, 102, 102);
    height: 357.656px;
    inline-size: 576.5px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    padding-inline-start: 40px;
    perspective-origin: 288.25px 178.828px;
    text-decoration: none solid rgb(102, 102, 102);
    text-size-adjust: 100%;
    transform-origin: 288.25px 178.828px;
    width: 576.5px;
    border: 0px none rgb(102, 102, 102);
    font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    list-style: outside none none;
    outline: rgb(102, 102, 102) none 0px;
    padding: 0px 0px 0px 40px;
}


/*#DIV_3*/

#DIV_3:after {
    border-block-end-color: rgb(102, 102, 102);
    border-block-start-color: rgb(102, 102, 102);
    border-inline-end-color: rgb(102, 102, 102);
    border-inline-start-color: rgb(102, 102, 102);
    caret-color: rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    column-rule-color: rgb(102, 102, 102);
    text-decoration: none solid rgb(102, 102, 102);
    text-size-adjust: 100%;
    border: 0px none rgb(102, 102, 102);
    font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    list-style: outside none none;
    outline: rgb(102, 102, 102) none 0px;
}


/*#DIV_3:after*/

#DIV_3:before {
    border-block-end-color: rgb(102, 102, 102);
    border-block-start-color: rgb(102, 102, 102);
    border-inline-end-color: rgb(102, 102, 102);
    border-inline-start-color: rgb(102, 102, 102);
    caret-color: rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    column-rule-color: rgb(102, 102, 102);
    text-decoration: none solid rgb(102, 102, 102);
    text-size-adjust: 100%;
    border: 0px none rgb(102, 102, 102);
    font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    list-style: outside none none;
    outline: rgb(102, 102, 102) none 0px;
}


/*#DIV_3:before*/

#IMG_4 {
    block-size: 357.656px;
    border-block-end-color: rgb(102, 102, 102);
    border-block-start-color: rgb(102, 102, 102);
    border-inline-end-color: rgb(102, 102, 102);
    border-inline-start-color: rgb(102, 102, 102);
    box-sizing: border-box;
    caret-color: rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    column-rule-color: rgb(102, 102, 102);
    height: 357.656px;
    inline-size: 536.5px;
    max-inline-size: 100%;
    max-width: 100%;
    perspective-origin: 268.25px 178.828px;
    text-decoration: none solid rgb(102, 102, 102);
    text-size-adjust: 100%;
    transform-origin: 268.25px 178.828px;
    vertical-align: middle;
    width: 536.5px;
    border: 0px none rgb(102, 102, 102);
    font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    list-style: outside none none;
    outline: rgb(102, 102, 102) none 0px;
}


/*#IMG_4*/

#IMG_4:after {
    border-block-end-color: rgb(102, 102, 102);
    border-block-start-color: rgb(102, 102, 102);
    border-inline-end-color: rgb(102, 102, 102);
    border-inline-start-color: rgb(102, 102, 102);
    caret-color: rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    column-rule-color: rgb(102, 102, 102);
    text-decoration: none solid rgb(102, 102, 102);
    text-size-adjust: 100%;
    border: 0px none rgb(102, 102, 102);
    font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    list-style: outside none none;
    outline: rgb(102, 102, 102) none 0px;
}


/*#IMG_4:after*/

#IMG_4:before {
    border-block-end-color: rgb(102, 102, 102);
    border-block-start-color: rgb(102, 102, 102);
    border-inline-end-color: rgb(102, 102, 102);
    border-inline-start-color: rgb(102, 102, 102);
    caret-color: rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    column-rule-color: rgb(102, 102, 102);
    text-decoration: none solid rgb(102, 102, 102);
    text-size-adjust: 100%;
    border: 0px none rgb(102, 102, 102);
    font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    list-style: outside none none;
    outline: rgb(102, 102, 102) none 0px;
}


/*#IMG_4:before*/

#DIV_5 {
    block-size: 357.656px;
    border-block-end-color: rgb(102, 102, 102);
    border-block-start-color: rgb(102, 102, 102);
    border-inline-end-color: rgb(102, 102, 102);
    border-inline-start-color: rgb(102, 102, 102);
    box-sizing: border-box;
    caret-color: rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    column-rule-color: rgb(102, 102, 102);
    height: 357.656px;
    inline-size: 576.5px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    padding-inline-start: 40px;
    perspective-origin: 288.25px 178.828px;
    text-decoration: none solid rgb(102, 102, 102);
    text-size-adjust: 100%;
    transform-origin: 288.25px 178.828px;
    width: 576.5px;
    border: 0px none rgb(102, 102, 102);
    font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    list-style: outside none none;
    outline: rgb(102, 102, 102) none 0px;
    padding: 0px 0px 0px 40px;
}


/*#DIV_5*/

#DIV_5:after {
    border-block-end-color: rgb(102, 102, 102);
    border-block-start-color: rgb(102, 102, 102);
    border-inline-end-color: rgb(102, 102, 102);
    border-inline-start-color: rgb(102, 102, 102);
    caret-color: rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    column-rule-color: rgb(102, 102, 102);
    text-decoration: none solid rgb(102, 102, 102);
    text-size-adjust: 100%;
    border: 0px none rgb(102, 102, 102);
    font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    list-style: outside none none;
    outline: rgb(102, 102, 102) none 0px;
}


/*#DIV_5:after*/

#DIV_5:before {
    border-block-end-color: rgb(102, 102, 102);
    border-block-start-color: rgb(102, 102, 102);
    border-inline-end-color: rgb(102, 102, 102);
    border-inline-start-color: rgb(102, 102, 102);
    caret-color: rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    column-rule-color: rgb(102, 102, 102);
    text-decoration: none solid rgb(102, 102, 102);
    text-size-adjust: 100%;
    border: 0px none rgb(102, 102, 102);
    font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    list-style: outside none none;
    outline: rgb(102, 102, 102) none 0px;
}


/*#DIV_5:before*/

#DIV_6 {
    block-size: 186px;
    border-block-end-color: rgb(102, 102, 102);
    border-block-start-color: rgb(102, 102, 102);
    border-inline-end-color: rgb(102, 102, 102);
    border-inline-start-color: rgb(102, 102, 102);
    caret-color: rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    column-rule-color: rgb(102, 102, 102);
    height: 186px;
    inline-size: 536.5px;
    perspective-origin: 268.25px 93px;
    text-decoration: none solid rgb(102, 102, 102);
    text-size-adjust: 100%;
    transform-origin: 268.25px 93px;
    width: 536.5px;
    border: 0px none rgb(102, 102, 102);
    font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    list-style: outside none none;
    outline: rgb(102, 102, 102) none 0px;
}


/*#DIV_6*/

#DIV_6:after {
    border-block-end-color: rgb(102, 102, 102);
    border-block-start-color: rgb(102, 102, 102);
    border-inline-end-color: rgb(102, 102, 102);
    border-inline-start-color: rgb(102, 102, 102);
    caret-color: rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    column-rule-color: rgb(102, 102, 102);
    text-decoration: none solid rgb(102, 102, 102);
    text-size-adjust: 100%;
    border: 0px none rgb(102, 102, 102);
    font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    list-style: outside none none;
    outline: rgb(102, 102, 102) none 0px;
}


/*#DIV_6:after*/

#DIV_6:before {
    border-block-end-color: rgb(102, 102, 102);
    border-block-start-color: rgb(102, 102, 102);
    border-inline-end-color: rgb(102, 102, 102);
    border-inline-start-color: rgb(102, 102, 102);
    caret-color: rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    column-rule-color: rgb(102, 102, 102);
    text-decoration: none solid rgb(102, 102, 102);
    text-size-adjust: 100%;
    border: 0px none rgb(102, 102, 102);
    font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    list-style: outside none none;
    outline: rgb(102, 102, 102) none 0px;
}


/*#DIV_6:before*/

#H1_7 {
    block-size: 50px;
    border-block-end-color: rgb(51, 51, 51);
    border-block-start-color: rgb(51, 51, 51);
    border-inline-end-color: rgb(51, 51, 51);
    border-inline-start-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    color: rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    height: 50px;
    inline-size: 536.5px;
    margin-block-end: 20px;
    margin-block-start: 0px;
    perspective-origin: 268.25px 25px;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    transform-origin: 268.25px 25px;
    width: 536.5px;
    border: 0px none rgb(51, 51, 51);
    font: 42px / 50.4px Volkhov, serif;
    list-style: outside none none;
    margin: 0px 0px 20px;
    outline: rgb(51, 51, 51) none 0px;
}


/*#H1_7*/

#H1_7:after {
    border-block-end-color: rgb(51, 51, 51);
    border-block-start-color: rgb(51, 51, 51);
    border-inline-end-color: rgb(51, 51, 51);
    border-inline-start-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    color: rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    border: 0px none rgb(51, 51, 51);
    font: 42px / 50.4px Volkhov, serif;
    list-style: outside none none;
    outline: rgb(51, 51, 51) none 0px;
}


/*#H1_7:after*/

#H1_7:before {
    border-block-end-color: rgb(51, 51, 51);
    border-block-start-color: rgb(51, 51, 51);
    border-inline-end-color: rgb(51, 51, 51);
    border-inline-start-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    color: rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    border: 0px none rgb(51, 51, 51);
    font: 42px / 50.4px Volkhov, serif;
    list-style: outside none none;
    outline: rgb(51, 51, 51) none 0px;
}


/*#H1_7:before*/

#H3_8 {
    block-size: 0px;
    border-block-end-color: rgb(51, 51, 51);
    border-block-start-color: rgb(51, 51, 51);
    border-inline-end-color: rgb(51, 51, 51);
    border-inline-start-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    color: rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    height: 0px;
    inline-size: 536.5px;
    margin-block-end: 20px;
    margin-block-start: 40px;
    perspective-origin: 268.25px 0px;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    transform-origin: 268.25px 0px;
    width: 536.5px;
    border: 0px none rgb(51, 51, 51);
    font: 24px / 33.6px Volkhov, serif;
    list-style: outside none none;
    margin: 40px 0px 20px;
    outline: rgb(51, 51, 51) none 0px;
}


/*#H3_8*/

#H3_8:after {
    border-block-end-color: rgb(51, 51, 51);
    border-block-start-color: rgb(51, 51, 51);
    border-inline-end-color: rgb(51, 51, 51);
    border-inline-start-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    color: rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    border: 0px none rgb(51, 51, 51);
    font: 24px / 33.6px Volkhov, serif;
    list-style: outside none none;
    outline: rgb(51, 51, 51) none 0px;
}


/*#H3_8:after*/

#H3_8:before {
    border-block-end-color: rgb(51, 51, 51);
    border-block-start-color: rgb(51, 51, 51);
    border-inline-end-color: rgb(51, 51, 51);
    border-inline-start-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    color: rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    border: 0px none rgb(51, 51, 51);
    font: 24px / 33.6px Volkhov, serif;
    list-style: outside none none;
    outline: rgb(51, 51, 51) none 0px;
}


/*#H3_8:before*/

#P_9 {
    block-size: 96px;
    border-block-end-color: rgb(102, 102, 102);
    border-block-start-color: rgb(102, 102, 102);
    border-inline-end-color: rgb(102, 102, 102);
    border-inline-start-color: rgb(102, 102, 102);
    caret-color: rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    column-rule-color: rgb(102, 102, 102);
    height: 96px;
    inline-size: 536.5px;
    margin-block-end: 20px;
    margin-block-start: 20px;
    perspective-origin: 268.25px 48px;
    text-decoration: none solid rgb(102, 102, 102);
    text-size-adjust: 100%;
    transform-origin: 268.25px 48px;
    width: 536.5px;
    border: 0px none rgb(102, 102, 102);
    font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    list-style: outside none none;
    margin: 20px 0px;
    outline: rgb(102, 102, 102) none 0px;
}


/*#P_9*/

#P_9:after {
    border-block-end-color: rgb(102, 102, 102);
    border-block-start-color: rgb(102, 102, 102);
    border-inline-end-color: rgb(102, 102, 102);
    border-inline-start-color: rgb(102, 102, 102);
    caret-color: rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    column-rule-color: rgb(102, 102, 102);
    text-decoration: none solid rgb(102, 102, 102);
    text-size-adjust: 100%;
    border: 0px none rgb(102, 102, 102);
    font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    list-style: outside none none;
    outline: rgb(102, 102, 102) none 0px;
}


/*#P_9:after*/

#P_9:before {
    border-block-end-color: rgb(102, 102, 102);
    border-block-start-color: rgb(102, 102, 102);
    border-inline-end-color: rgb(102, 102, 102);
    border-inline-start-color: rgb(102, 102, 102);
    caret-color: rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    column-rule-color: rgb(102, 102, 102);
    text-decoration: none solid rgb(102, 102, 102);
    text-size-adjust: 100%;
    border: 0px none rgb(102, 102, 102);
    font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    list-style: outside none none;
    outline: rgb(102, 102, 102) none 0px;
}


/*#P_9:before*/

#DIV_1 {
    block-size: 357.656px;
    border-block-end-color: rgb(102, 102, 102);
    border-block-start-color: rgb(102, 102, 102);
    border-inline-end-color: rgb(102, 102, 102);
    border-inline-start-color: rgb(102, 102, 102);
    caret-color: rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    column-rule-color: rgb(102, 102, 102);
    display: flow-root;
    height: 357.656px;
    inline-size: 1113px;
    margin-block-end: 40px;
    margin-block-start: 40px;
    max-inline-size: 1200px;
    max-width: 1200px;
    padding-inline-end: 40px;
    padding-inline-start: 40px;
    perspective-origin: 596.5px 178.828px;
    text-decoration: none solid rgb(102, 102, 102);
    text-size-adjust: 100%;
    transform-origin: 596.5px 178.828px;
    width: 1113px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(102, 102, 102);
    font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin: 40px 0px;
    outline: rgb(102, 102, 102) none 0px;
    padding: 0px 40px;
}


/*#DIV_1*/

#DIV_1:after {
    border-block-end-color: rgb(102, 102, 102);
    border-block-start-color: rgb(102, 102, 102);
    border-inline-end-color: rgb(102, 102, 102);
    border-inline-start-color: rgb(102, 102, 102);
    caret-color: rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    column-rule-color: rgb(102, 102, 102);
    text-decoration: none solid rgb(102, 102, 102);
    text-size-adjust: 100%;
    border: 0px none rgb(102, 102, 102);
    font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    outline: rgb(102, 102, 102) none 0px;
}


/*#DIV_1:after*/

#DIV_1:before {
    border-block-end-color: rgb(102, 102, 102);
    border-block-start-color: rgb(102, 102, 102);
    border-inline-end-color: rgb(102, 102, 102);
    border-inline-start-color: rgb(102, 102, 102);
    caret-color: rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    column-rule-color: rgb(102, 102, 102);
    text-decoration: none solid rgb(102, 102, 102);
    text-size-adjust: 100%;
    border: 0px none rgb(102, 102, 102);
    font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    outline: rgb(102, 102, 102) none 0px;
}


/*#DIV_1:before*/

#DIV_2 {
    block-size: 357.656px;
    border-block-end-color: rgb(102, 102, 102);
    border-block-start-color: rgb(102, 102, 102);
    border-inline-end-color: rgb(102, 102, 102);
    border-inline-start-color: rgb(102, 102, 102);
    caret-color: rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    column-rule-color: rgb(102, 102, 102);
    display: flex;
    height: 357.656px;
    inline-size: 1153px;
    margin-inline-start: -40px;
    perspective-origin: 576.5px 178.828px;
    text-decoration: none solid rgb(102, 102, 102);
    text-size-adjust: 100%;
    transform-origin: 576.5px 178.828px;
    width: 1153px;
    border: 0px none rgb(102, 102, 102);
    flex-flow: row wrap;
    font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    list-style: outside none none;
    margin: 0px 0px 0px -40px;
    outline: rgb(102, 102, 102) none 0px;
}


/*#DIV_2*/

#DIV_2:after {
    border-block-end-color: rgb(102, 102, 102);
    border-block-start-color: rgb(102, 102, 102);
    border-inline-end-color: rgb(102, 102, 102);
    border-inline-start-color: rgb(102, 102, 102);
    caret-color: rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    column-rule-color: rgb(102, 102, 102);
    display: block;
    text-decoration: none solid rgb(102, 102, 102);
    text-size-adjust: 100%;
    border: 0px none rgb(102, 102, 102);
    font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    list-style: outside none none;
    outline: rgb(102, 102, 102) none 0px;
}


/*#DIV_2:after*/

#DIV_2:before {
    border-block-end-color: rgb(102, 102, 102);
    border-block-start-color: rgb(102, 102, 102);
    border-inline-end-color: rgb(102, 102, 102);
    border-inline-start-color: rgb(102, 102, 102);
    caret-color: rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    column-rule-color: rgb(102, 102, 102);
    display: block;
    text-decoration: none solid rgb(102, 102, 102);
    text-size-adjust: 100%;
    border: 0px none rgb(102, 102, 102);
    font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    list-style: outside none none;
    outline: rgb(102, 102, 102) none 0px;
}


/*#DIV_2:before*/

#DIV_3 {
    block-size: 357.656px;
    border-block-end-color: rgb(102, 102, 102);
    border-block-start-color: rgb(102, 102, 102);
    border-inline-end-color: rgb(102, 102, 102);
    border-inline-start-color: rgb(102, 102, 102);
    box-sizing: border-box;
    caret-color: rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    column-rule-color: rgb(102, 102, 102);
    height: 357.656px;
    inline-size: 576.5px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    padding-inline-start: 40px;
    perspective-origin: 288.25px 178.828px;
    text-decoration: none solid rgb(102, 102, 102);
    text-size-adjust: 100%;
    transform-origin: 288.25px 178.828px;
    width: 576.5px;
    border: 0px none rgb(102, 102, 102);
    font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    list-style: outside none none;
    outline: rgb(102, 102, 102) none 0px;
    padding: 0px 0px 0px 40px;
}


/*#DIV_3*/

#DIV_3:after {
    border-block-end-color: rgb(102, 102, 102);
    border-block-start-color: rgb(102, 102, 102);
    border-inline-end-color: rgb(102, 102, 102);
    border-inline-start-color: rgb(102, 102, 102);
    caret-color: rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    column-rule-color: rgb(102, 102, 102);
    text-decoration: none solid rgb(102, 102, 102);
    text-size-adjust: 100%;
    border: 0px none rgb(102, 102, 102);
    font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    list-style: outside none none;
    outline: rgb(102, 102, 102) none 0px;
}


/*#DIV_3:after*/

#DIV_3:before {
    border-block-end-color: rgb(102, 102, 102);
    border-block-start-color: rgb(102, 102, 102);
    border-inline-end-color: rgb(102, 102, 102);
    border-inline-start-color: rgb(102, 102, 102);
    caret-color: rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    column-rule-color: rgb(102, 102, 102);
    text-decoration: none solid rgb(102, 102, 102);
    text-size-adjust: 100%;
    border: 0px none rgb(102, 102, 102);
    font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    list-style: outside none none;
    outline: rgb(102, 102, 102) none 0px;
}


/*#DIV_3:before*/

#DIV_4 {
    block-size: 225px;
    border-block-end-color: rgb(102, 102, 102);
    border-block-start-color: rgb(102, 102, 102);
    border-inline-end-color: rgb(102, 102, 102);
    border-inline-start-color: rgb(102, 102, 102);
    caret-color: rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    column-rule-color: rgb(102, 102, 102);
    height: 225px;
    inline-size: 536.5px;
    perspective-origin: 268.25px 112.5px;
    text-decoration: none solid rgb(102, 102, 102);
    text-size-adjust: 100%;
    transform-origin: 268.25px 112.5px;
    width: 536.5px;
    border: 0px none rgb(102, 102, 102);
    font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    list-style: outside none none;
    outline: rgb(102, 102, 102) none 0px;
}


/*#DIV_4*/

#DIV_4:after {
    border-block-end-color: rgb(102, 102, 102);
    border-block-start-color: rgb(102, 102, 102);
    border-inline-end-color: rgb(102, 102, 102);
    border-inline-start-color: rgb(102, 102, 102);
    caret-color: rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    column-rule-color: rgb(102, 102, 102);
    text-decoration: none solid rgb(102, 102, 102);
    text-size-adjust: 100%;
    border: 0px none rgb(102, 102, 102);
    font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    list-style: outside none none;
    outline: rgb(102, 102, 102) none 0px;
}


/*#DIV_4:after*/

#DIV_4:before {
    border-block-end-color: rgb(102, 102, 102);
    border-block-start-color: rgb(102, 102, 102);
    border-inline-end-color: rgb(102, 102, 102);
    border-inline-start-color: rgb(102, 102, 102);
    caret-color: rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    column-rule-color: rgb(102, 102, 102);
    text-decoration: none solid rgb(102, 102, 102);
    text-size-adjust: 100%;
    border: 0px none rgb(102, 102, 102);
    font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    list-style: outside none none;
    outline: rgb(102, 102, 102) none 0px;
}


/*#DIV_4:before*/

#H2_5 {
    block-size: 41px;
    border-block-end-color: rgb(51, 51, 51);
    border-block-start-color: rgb(51, 51, 51);
    border-inline-end-color: rgb(51, 51, 51);
    border-inline-start-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    color: rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    height: 41px;
    inline-size: 536.5px;
    margin-block-end: 20px;
    margin-block-start: 0px;
    perspective-origin: 268.25px 20.5px;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    transform-origin: 268.25px 20.5px;
    width: 536.5px;
    border: 0px none rgb(51, 51, 51);
    font: 32px / 41.6px Volkhov, serif;
    list-style: outside none none;
    margin: 0px 0px 20px;
    outline: rgb(51, 51, 51) none 0px;
}


/*#H2_5*/

#H2_5:after {
    border-block-end-color: rgb(51, 51, 51);
    border-block-start-color: rgb(51, 51, 51);
    border-inline-end-color: rgb(51, 51, 51);
    border-inline-start-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    color: rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    border: 0px none rgb(51, 51, 51);
    font: 32px / 41.6px Volkhov, serif;
    list-style: outside none none;
    outline: rgb(51, 51, 51) none 0px;
}


/*#H2_5:after*/

#H2_5:before {
    border-block-end-color: rgb(51, 51, 51);
    border-block-start-color: rgb(51, 51, 51);
    border-inline-end-color: rgb(51, 51, 51);
    border-inline-start-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    color: rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    border: 0px none rgb(51, 51, 51);
    font: 32px / 41.6px Volkhov, serif;
    list-style: outside none none;
    outline: rgb(51, 51, 51) none 0px;
}


/*#H2_5:before*/

#H3_6 {
    block-size: 0px;
    border-block-end-color: rgb(51, 51, 51);
    border-block-start-color: rgb(51, 51, 51);
    border-inline-end-color: rgb(51, 51, 51);
    border-inline-start-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    color: rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    height: 0px;
    inline-size: 536.5px;
    margin-block-end: 20px;
    margin-block-start: 40px;
    perspective-origin: 268.25px 0px;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    transform-origin: 268.25px 0px;
    width: 536.5px;
    border: 0px none rgb(51, 51, 51);
    font: 24px / 33.6px Volkhov, serif;
    list-style: outside none none;
    margin: 40px 0px 20px;
    outline: rgb(51, 51, 51) none 0px;
}


/*#H3_6*/

#H3_6:after {
    border-block-end-color: rgb(51, 51, 51);
    border-block-start-color: rgb(51, 51, 51);
    border-inline-end-color: rgb(51, 51, 51);
    border-inline-start-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    color: rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    border: 0px none rgb(51, 51, 51);
    font: 24px / 33.6px Volkhov, serif;
    list-style: outside none none;
    outline: rgb(51, 51, 51) none 0px;
}


/*#H3_6:after*/

#H3_6:before {
    border-block-end-color: rgb(51, 51, 51);
    border-block-start-color: rgb(51, 51, 51);
    border-inline-end-color: rgb(51, 51, 51);
    border-inline-start-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    color: rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    border: 0px none rgb(51, 51, 51);
    font: 24px / 33.6px Volkhov, serif;
    list-style: outside none none;
    outline: rgb(51, 51, 51) none 0px;
}


/*#H3_6:before*/

#P_7 {
    block-size: 144px;
    border-block-end-color: rgb(102, 102, 102);
    border-block-start-color: rgb(102, 102, 102);
    border-inline-end-color: rgb(102, 102, 102);
    border-inline-start-color: rgb(102, 102, 102);
    caret-color: rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    column-rule-color: rgb(102, 102, 102);
    height: 144px;
    inline-size: 536.5px;
    margin-block-end: 20px;
    margin-block-start: 20px;
    perspective-origin: 268.25px 72px;
    text-decoration: none solid rgb(102, 102, 102);
    text-size-adjust: 100%;
    transform-origin: 268.25px 72px;
    width: 536.5px;
    border: 0px none rgb(102, 102, 102);
    font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    list-style: outside none none;
    margin: 20px 0px;
    outline: rgb(102, 102, 102) none 0px;
}


/*#P_7*/

#P_7:after {
    border-block-end-color: rgb(102, 102, 102);
    border-block-start-color: rgb(102, 102, 102);
    border-inline-end-color: rgb(102, 102, 102);
    border-inline-start-color: rgb(102, 102, 102);
    caret-color: rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    column-rule-color: rgb(102, 102, 102);
    text-decoration: none solid rgb(102, 102, 102);
    text-size-adjust: 100%;
    border: 0px none rgb(102, 102, 102);
    font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    list-style: outside none none;
    outline: rgb(102, 102, 102) none 0px;
}


/*#P_7:after*/

#P_7:before {
    border-block-end-color: rgb(102, 102, 102);
    border-block-start-color: rgb(102, 102, 102);
    border-inline-end-color: rgb(102, 102, 102);
    border-inline-start-color: rgb(102, 102, 102);
    caret-color: rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    column-rule-color: rgb(102, 102, 102);
    text-decoration: none solid rgb(102, 102, 102);
    text-size-adjust: 100%;
    border: 0px none rgb(102, 102, 102);
    font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    list-style: outside none none;
    outline: rgb(102, 102, 102) none 0px;
}


/*#P_7:before*/

#DIV_8 {
    align-items: flex-start;
    block-size: 357.656px;
    border-block-end-color: rgb(102, 102, 102);
    border-block-start-color: rgb(102, 102, 102);
    border-inline-end-color: rgb(102, 102, 102);
    border-inline-start-color: rgb(102, 102, 102);
    box-sizing: border-box;
    caret-color: rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    column-rule-color: rgb(102, 102, 102);
    height: 357.656px;
    inline-size: 576.5px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    padding-inline-start: 40px;
    perspective-origin: 288.25px 178.828px;
    text-decoration: none solid rgb(102, 102, 102);
    text-size-adjust: 100%;
    transform-origin: 288.25px 178.828px;
    width: 576.5px;
    border: 0px none rgb(102, 102, 102);
    font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    list-style: outside none none;
    outline: rgb(102, 102, 102) none 0px;
    padding: 0px 0px 0px 40px;
}


/*#DIV_8*/

#DIV_8:after {
    border-block-end-color: rgb(102, 102, 102);
    border-block-start-color: rgb(102, 102, 102);
    border-inline-end-color: rgb(102, 102, 102);
    border-inline-start-color: rgb(102, 102, 102);
    caret-color: rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    column-rule-color: rgb(102, 102, 102);
    text-decoration: none solid rgb(102, 102, 102);
    text-size-adjust: 100%;
    border: 0px none rgb(102, 102, 102);
    font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    list-style: outside none none;
    outline: rgb(102, 102, 102) none 0px;
}


/*#DIV_8:after*/

#DIV_8:before {
    border-block-end-color: rgb(102, 102, 102);
    border-block-start-color: rgb(102, 102, 102);
    border-inline-end-color: rgb(102, 102, 102);
    border-inline-start-color: rgb(102, 102, 102);
    caret-color: rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    column-rule-color: rgb(102, 102, 102);
    text-decoration: none solid rgb(102, 102, 102);
    text-size-adjust: 100%;
    border: 0px none rgb(102, 102, 102);
    font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    list-style: outside none none;
    outline: rgb(102, 102, 102) none 0px;
}


/*#DIV_8:before*/

#IMG_9 {
    block-size: 357.656px;
    border-block-end-color: rgb(102, 102, 102);
    border-block-start-color: rgb(102, 102, 102);
    border-inline-end-color: rgb(102, 102, 102);
    border-inline-start-color: rgb(102, 102, 102);
    box-sizing: border-box;
    caret-color: rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    column-rule-color: rgb(102, 102, 102);
    height: 357.656px;
    inline-size: 536.5px;
    max-inline-size: 100%;
    max-width: 100%;
    perspective-origin: 268.25px 178.828px;
    text-decoration: none solid rgb(102, 102, 102);
    text-size-adjust: 100%;
    transform-origin: 268.25px 178.828px;
    vertical-align: middle;
    width: 536.5px;
    border: 0px none rgb(102, 102, 102);
    font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    list-style: outside none none;
    outline: rgb(102, 102, 102) none 0px;
}


/*#IMG_9*/

#IMG_9:after {
    border-block-end-color: rgb(102, 102, 102);
    border-block-start-color: rgb(102, 102, 102);
    border-inline-end-color: rgb(102, 102, 102);
    border-inline-start-color: rgb(102, 102, 102);
    caret-color: rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    column-rule-color: rgb(102, 102, 102);
    text-decoration: none solid rgb(102, 102, 102);
    text-size-adjust: 100%;
    border: 0px none rgb(102, 102, 102);
    font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    list-style: outside none none;
    outline: rgb(102, 102, 102) none 0px;
}


/*#IMG_9:after*/

#IMG_9:before {
    border-block-end-color: rgb(102, 102, 102);
    border-block-start-color: rgb(102, 102, 102);
    border-inline-end-color: rgb(102, 102, 102);
    border-inline-start-color: rgb(102, 102, 102);
    caret-color: rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    column-rule-color: rgb(102, 102, 102);
    text-decoration: none solid rgb(102, 102, 102);
    text-size-adjust: 100%;
    border: 0px none rgb(102, 102, 102);
    font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    list-style: outside none none;
    outline: rgb(102, 102, 102) none 0px;
}


/*#IMG_9:before*/